{% load static %}

    <style>
     @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Rampart+One&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Dancing+Script&family=Rampart+One&display=swap');

    </style>
<body>

  <br><br>

  <!--ACESSO RÁPIDO PARA PRODUTOS-->

  
  <br>
  <br>
  <br>
  <br>
</body>