{% load static %}
{% load omfilters %}

<div class="row container">
    <div class="col container">

        <br>

        <div class="row mt-4 navDetalhePedido">
            <div class="item-navDetalhePedido">
                <div class=" font-weight-bold textos">Status:</div>
                <div class="textos textoResultadoDetalhePedido">{{ pedido.get_status_display }}</div>
            </div>

            
            <div class="item-navDetalhePedido">
                <div class="font-weight-bold textos">QTD. licenças:</div>
                <div class=" textos textoResultadoDetalhePedido">{{ pedido.qtd_total }}</div>
            </div>

            <div class="item-navDetalhePedido">
                <div class=" font-weight-bold textos">Total</div>
                <div class=" textos font-weight-bold precoTotalPedido">{{ pedido.total|formata_preco }}</div>

            </div>

            
        </div>

        <br>

        <div class="row mt-4">
            <div class="col">
                <h4>Produtos</h4>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table table-Pedido">
                <tr class="color-TitleTable">
                    <th class="d-none d-lg-block">Imagem</th>
                    <th>Produto</th>
                    <th>V.</th>
                    <th>QTD.</th>
                    <th>Total</th>
                </tr>

                {% for linha in pedido.itempedido_set.all %}
                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="{% get_media_prefix %}{{ linha.imagem }}">
                    </td>
                    <td>{{ linha.produto }}</td>
                    <td>{{ linha.variacao }}</td>
                    <td>{{ linha.quantidade }}</td>
                    <td>
                        {% if linha.preco_promocional %}
                        {{ linha.preco_promocional|formata_preco }}
                        {% else %}
                        {{ linha.preco|formata_preco }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <br><br>

    </div>



</div>